In [1]:
import sys
import os
sys.path.append(os.getcwd().replace(os.path.join('music_xml_parser', 'ipynb'), ''))
import music_xml_parser as mp
from music21 import * 
import csv
from IPython.display import HTML, display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Mit diesen Befehlen wird nicht nur der CAMAT music_xml_parser, 
# sondern darüber hinaus die Bibliotheken 'numpy' und 'pandas' für statische Auswertungen, 
# 'music21' sowieund 'matplotlib' für grafische Darstellungen geladen. 

# Mit den folgenden Befehlen wird die Formtierung für die Tabellen festgelegt, 
# die weiter unten dargestellt werden - '9999' ist der Maximalwert: 

pd.set_option('display.max_rows', 9999)
pd.set_option('display.max_columns', 9999)
pd.set_option('display.width', 9999)
    
environment.set('autoDownload', 'allow')
# Hierdurch wird der Download von xml-Dateien aus dem Internet ermöglicht.

### Simple Interval search

In [2]:
xml_files = 'PrJode_Jos1102_COM_1-5_MissaLasol_002_00137.xml'


df = mp.core.search.simple_interval_search(xml_files,
                                           interval=[2, 2])
print(f"total segments: {len(df)}")


for i in df:
    display(i)

total segments: 11

    Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
12   54.0       2.0     G      4  67.0        5       1  Superius       2.0
13   56.0       2.0     A      4  69.0        5       1  Superius       2.0

    Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
13   56.0       2.0     A      4  69.0        5       1  Superius       2.0
14   58.0       2.0     B      4  71.0        5       1  Superius       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
115  454.0       1.0     G      4  67.0       48       1  Superius       2.0
116  455.0       1.0     A      4  69.0       48       1  Superius       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
116  455.0       1.0     A      4  69.0       48       1  Superius       2.0
117  456.0       2.0     B      4  71.0       48       1  Superius       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
154  547.0       1.0     D      4  62.0       55       1  Superius       2.0
155  548.0       1.0     E      4  64.0       56       1  Superius       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
190   58.0       2.0     G      3  55.0        5       2    Altus       2.0
191   60.0       3.0     A      3  57.0        6       2    Altus       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
216  128.0       2.0     D      4  62.0       11       2    Altus       2.0
217  130.0       2.0     E      4  64.0       11       2    Altus       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
299  456.0       2.0     G      3  55.0       48       2    Altus       2.0
300  458.0       2.0     A      3  57.0       48       2    Altus       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
302  463.0       1.0     D      4  62.0       48       2    Altus       2.0
303  464.0       1.0     E      4  64.0       49       2    Altus       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
358  104.0       2.0     D      4  62.0        9       3    Tenor       2.0
359  106.0       2.0     E      4  64.0        9       3    Tenor       2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
395  255.0       1.0     G      3  55.0       26       3    Tenor       2.0
396  256.0       2.0     A      3  57.0       26       3    Tenor       2.0

In [3]:

df1 = mp.core.search.simple_interval_search(xml_files,
                                            interval=[2, -2, -4])

No search found

In [4]:

df3 = mp.core.search.simple_interval_search(xml_files, 
                                            interval=[2, -2])
print(f"total segments: {len(df3)}")
for i in df3:
    display(i)

total segments: 9

    Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
18   66.0       3.0     A      4  69.0        6       1  Superius       2.0
19   69.0       1.0     G      4  67.0        6       1  Superius      -2.0

    Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
42  156.0       8.0     A      4  69.0       14       1  Superius       2.0
43  164.0       8.0     G      4  67.0       15       1  Superius      -2.0

    Onset  Duration Pitch Octave  MIDI  Measure  PartID  PartName  Interval
83  364.0       8.0     D      5  74.0       40       1  Superius       2.0
84  372.0       8.0     C      5  72.0       41       1  Superius      -2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
191   60.0       3.0     A      3  57.0        6       2    Altus       2.0
192   63.0       1.0     G      3  55.0        6       2    Altus      -2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
220  136.0       2.0     D      4  62.0       12       2    Altus       2.0
221  138.0       2.0     C      4  60.0       12       2    Altus      -2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
264  384.0       2.0     B      3  59.0       42       2    Altus       2.0
265  386.0       2.0     A      3  57.0       42       2    Altus      -2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
274  408.0       2.0     B      3  59.0       44       2    Altus       2.0
275  410.0       2.0     A      3  57.0       44       2    Altus      -2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
293  448.0       1.0     D      4  62.0       47       2    Altus       2.0
294  449.0       1.0     C      4  60.0       47       2    Altus      -2.0

     Onset  Duration Pitch Octave  MIDI  Measure  PartID PartName  Interval
362  112.0       2.0     D      4  62.0       10       3    Tenor       2.0
363  114.0       2.0     C      4  60.0       10       3    Tenor      -2.0