In [1]:
import sys
import os
sys.path.append(os.getcwd().replace(os.path.join('music_xml_parser', 'ipynb'), ''))
import music_xml_parser as mp
from music21 import * 
import csv
from IPython.display import HTML, display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Mit diesen Befehlen wird nicht nur der CAMAT music_xml_parser, 
# sondern darüber hinaus die Bibliotheken 'numpy' und 'pandas' für statische Auswertungen, 
# 'music21' sowieund 'matplotlib' für grafische Darstellungen geladen. 

# Mit den folgenden Befehlen wird die Formtierung für die Tabellen festgelegt, 
# die weiter unten dargestellt werden - '9999' ist der Maximalwert: 


environment.set('autoDownload', 'allow')
# Hierdurch wird der Download von xml-Dateien aus dem Internet ermöglicht.

### Simple Interval search

In [2]:
xml_files = 'PrJode_Jos1102_COM_1-5_MissaLasol_002_00137.xml'


search_out_01 = mp.core.search.simple_interval_search(xml_files, interval=[2, 2],return_details=False)
search_out_01

  Pitch Occurance
0     G         5
1     D         4
2     A         2

In [3]:

search_out_02 = mp.core.search.simple_interval_search(xml_files, interval=[2, 2],return_details=True)
search_out_02

   Pitch  MIDI  PartName PartID Measure  Onset
0      G  67.0  Superius      1       5   54.0
1      A  69.0  Superius      1       5   56.0
2      G  67.0  Superius      1      48  454.0
3      A  69.0  Superius      1      48  455.0
4      D  62.0  Superius      1      55  547.0
5      G  55.0     Altus      2       5   58.0
6      D  62.0     Altus      2      11  128.0
7      G  55.0     Altus      2      48  456.0
8      D  62.0     Altus      2      48  463.0
9      D  62.0     Tenor      3       9  104.0
10     G  55.0     Tenor      3      26  255.0